@import "tailwindcss";

@font-face {
  font-family: 'MiFuentePaleo';
  src: url('/fonts/krinkesDecorPERSONAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* Asegúrate de que el archivo esté exactamente en public/fonts/ */
}

@theme {
  /* Aquí registramos la fuente para Tailwind v4 */
  --font-paleo: "MiFuentePaleo", sans-serif;
  
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}